.enemy {
  background-repeat: no-repeat;
  background-position: center;


  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/enemy.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/enemy.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/enemy.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/enemy.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
}

.enemyLeft {
  background-repeat: no-repeat;
  background-position: center;


  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/enemyLeft.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/enemyLeft.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/enemyLeft.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/enemyLeft.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
}

.enemyRight {
  background-repeat: no-repeat;
  background-position: center;


  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/enemyRight.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/enemyRight.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/enemyRight.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/enemyRight.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
}

.enemyUp {
  background-repeat: no-repeat;
  background-position: center;


  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/enemyUp.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/enemyUp.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/enemyUp.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/enemyUp.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
}