.tree {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/tree.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/tree.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/tree.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/tree.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.stump {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/stump.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/stump.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/stump.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/stump.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.log {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/logs.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/logs.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/logs.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/logs.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.rock {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/rocks.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/rocks.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/rocks.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/rocks.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.logs {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/logs.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/logs.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/logs.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/logs.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.axe {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/axe.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/axe.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/axe.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/axe.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.hammer {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/hammer.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/hammer.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/hammer.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/hammer.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.chest {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/chest.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/chest.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/chest.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/chest.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.shovel {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/shovel.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/shovel.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/shovel.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/shovel.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.sword {
  background-repeat: no-repeat;
  background-position: center;

  &.grass {
    background-color: #5da88a;
    background-image: url("../../images/sword.svg"), url("../../images/grass.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.water {
    background-color: #3b7693;
    background-image: url("../../images/sword.svg"), url("../../images/water.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.dirt {
    background-color: #9b6a49;
    background-image: url("../../images/sword.svg"), url("../../images/dirt.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sand {
    background-color: #f9ee67;
    background-image: url("../../images/sword.svg"), url("../../images/sand.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}