.grass {
  background-color: #5da88a;
  background-image: url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.water {
  background-color: #3b7693;
  background-image: url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sand {
  background-color: #f9ee67;
  background-image: url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tree {
  background-repeat: no-repeat;
  background-position: center;
}
.tree.grass {
  background-color: #5da88a;
  background-image: url("../../images/tree.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.tree.water {
  background-color: #3b7693;
  background-image: url("../../images/tree.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.tree.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/tree.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.tree.sand {
  background-color: #f9ee67;
  background-image: url("../../images/tree.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.stump {
  background-repeat: no-repeat;
  background-position: center;
}
.stump.grass {
  background-color: #5da88a;
  background-image: url("../../images/stump.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.stump.water {
  background-color: #3b7693;
  background-image: url("../../images/stump.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.stump.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/stump.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.stump.sand {
  background-color: #f9ee67;
  background-image: url("../../images/stump.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.log {
  background-repeat: no-repeat;
  background-position: center;
}
.log.grass {
  background-color: #5da88a;
  background-image: url("../../images/logs.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.log.water {
  background-color: #3b7693;
  background-image: url("../../images/logs.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.log.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/logs.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.log.sand {
  background-color: #f9ee67;
  background-image: url("../../images/logs.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.rock {
  background-repeat: no-repeat;
  background-position: center;
}
.rock.grass {
  background-color: #5da88a;
  background-image: url("../../images/rocks.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.rock.water {
  background-color: #3b7693;
  background-image: url("../../images/rocks.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.rock.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/rocks.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.rock.sand {
  background-color: #f9ee67;
  background-image: url("../../images/rocks.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.logs {
  background-repeat: no-repeat;
  background-position: center;
}
.logs.grass {
  background-color: #5da88a;
  background-image: url("../../images/logs.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logs.water {
  background-color: #3b7693;
  background-image: url("../../images/logs.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logs.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/logs.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logs.sand {
  background-color: #f9ee67;
  background-image: url("../../images/logs.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.axe {
  background-repeat: no-repeat;
  background-position: center;
}
.axe.grass {
  background-color: #5da88a;
  background-image: url("../../images/axe.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.axe.water {
  background-color: #3b7693;
  background-image: url("../../images/axe.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.axe.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/axe.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.axe.sand {
  background-color: #f9ee67;
  background-image: url("../../images/axe.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hammer {
  background-repeat: no-repeat;
  background-position: center;
}
.hammer.grass {
  background-color: #5da88a;
  background-image: url("../../images/hammer.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.hammer.water {
  background-color: #3b7693;
  background-image: url("../../images/hammer.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.hammer.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/hammer.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.hammer.sand {
  background-color: #f9ee67;
  background-image: url("../../images/hammer.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.chest {
  background-repeat: no-repeat;
  background-position: center;
}
.chest.grass {
  background-color: #5da88a;
  background-image: url("../../images/chest.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.chest.water {
  background-color: #3b7693;
  background-image: url("../../images/chest.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.chest.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/chest.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.chest.sand {
  background-color: #f9ee67;
  background-image: url("../../images/chest.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.shovel {
  background-repeat: no-repeat;
  background-position: center;
}
.shovel.grass {
  background-color: #5da88a;
  background-image: url("../../images/shovel.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.shovel.water {
  background-color: #3b7693;
  background-image: url("../../images/shovel.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.shovel.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/shovel.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.shovel.sand {
  background-color: #f9ee67;
  background-image: url("../../images/shovel.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sword {
  background-repeat: no-repeat;
  background-position: center;
}
.sword.grass {
  background-color: #5da88a;
  background-image: url("../../images/sword.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.sword.water {
  background-color: #3b7693;
  background-image: url("../../images/sword.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.sword.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/sword.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.sword.sand {
  background-color: #f9ee67;
  background-image: url("../../images/sword.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.character {
  background-repeat: no-repeat;
  background-position: center;
}
.character.grass {
  background-color: #5da88a;
  background-image: url("../../images/character.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.character.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/character.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.character.sand {
  background-color: #f9ee67;
  background-image: url("../../images/character.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.character.water {
  background-color: #3b7693;
  background-image: url("../../images/character.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.characterLeft {
  background-repeat: no-repeat;
  background-position: center;
}
.characterLeft.grass {
  background-color: #5da88a;
  background-image: url("../../images/characterLeft.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.characterLeft.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/characterLeft.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.characterLeft.sand {
  background-color: #f9ee67;
  background-image: url("../../images/characterLeft.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.characterLeft.water {
  background-color: #3b7693;
  background-image: url("../../images/characterLeft.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.characterRight {
  background-repeat: no-repeat;
  background-position: center;
}
.characterRight.grass {
  background-color: #5da88a;
  background-image: url("../../images/characterRight.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.characterRight.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/characterRight.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.characterRight.sand {
  background-color: #f9ee67;
  background-image: url("../../images/characterRight.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.characterRight.water {
  background-color: #3b7693;
  background-image: url("../../images/characterRight.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.characterUp {
  background-repeat: no-repeat;
  background-position: center;
}
.characterUp.grass {
  background-color: #5da88a;
  background-image: url("../../images/characterUp.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.characterUp.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/characterUp.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.characterUp.sand {
  background-color: #f9ee67;
  background-image: url("../../images/characterUp.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.characterUp.water {
  background-color: #3b7693;
  background-image: url("../../images/characterUp.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.enemy {
  background-repeat: no-repeat;
  background-position: center;
}
.enemy.grass {
  background-color: #5da88a;
  background-image: url("../../images/enemy.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemy.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/enemy.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemy.sand {
  background-color: #f9ee67;
  background-image: url("../../images/enemy.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemy.water {
  background-color: #3b7693;
  background-image: url("../../images/enemy.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.enemyLeft {
  background-repeat: no-repeat;
  background-position: center;
}
.enemyLeft.grass {
  background-color: #5da88a;
  background-image: url("../../images/enemyLeft.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemyLeft.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/enemyLeft.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemyLeft.sand {
  background-color: #f9ee67;
  background-image: url("../../images/enemyLeft.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemyLeft.water {
  background-color: #3b7693;
  background-image: url("../../images/enemyLeft.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.enemyRight {
  background-repeat: no-repeat;
  background-position: center;
}
.enemyRight.grass {
  background-color: #5da88a;
  background-image: url("../../images/enemyRight.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemyRight.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/enemyRight.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemyRight.sand {
  background-color: #f9ee67;
  background-image: url("../../images/enemyRight.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemyRight.water {
  background-color: #3b7693;
  background-image: url("../../images/enemyRight.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.enemyUp {
  background-repeat: no-repeat;
  background-position: center;
}
.enemyUp.grass {
  background-color: #5da88a;
  background-image: url("../../images/enemyUp.svg"), url("../../images/grass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemyUp.dirt {
  background-color: #9b6a49;
  background-image: url("../../images/enemyUp.svg"), url("../../images/dirt.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemyUp.sand {
  background-color: #f9ee67;
  background-image: url("../../images/enemyUp.svg"), url("../../images/sand.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.enemyUp.water {
  background-color: #3b7693;
  background-image: url("../../images/enemyUp.svg"), url("../../images/water.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}
body #inventory {
  background-color: rgba(163, 147, 3, 0.308);
  display: grid;
  grid-template-rows: 3vw 5vw;
  grid-template-columns: 20% 20% 20% 20% 20%;
  position: fixed;
  width: 25vw;
  height: 8vw;
  bottom: 10px;
  left: calc(50% - 12.5vw);
}
body #inventory div:nth-child(1),
body #inventory div:nth-child(2),
body #inventory div:nth-child(3),
body #inventory div:nth-child(4),
body #inventory div:nth-child(5) {
  background-color: rgba(42, 85, 2, 0.534);
  text-align: center;
  font-weight: bold;
  color: white;
}
body #inventory div {
  border: solid 2px rgba(112, 101, 1, 0.692);
}
body #inventory div.selected {
  border: solid 3px rgba(113, 231, 1, 0.904);
}/*# sourceMappingURL=style.css.map */